
<div class="col-10 offset-2">
  <h2 class="d-flex justify-content-center">Danh Sách Câu Hỏi</h2>
  <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Câu Hỏi</th>
          <th>Số lượng câu trả lời</th>
          <th colspan="3"><a class="btn btn-success" [routerLink]="'add'">Thêm</a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of questions">
          <td>{{q.Id}}</td>
          <td></td>
          <td>{{q.Text}}</td>
          <td>{{q.Answers.length}}</td>
          <td>
            <a [routerLink] ="'edit/' + q.Id" type="button" class="btn btn-success">Sửa</a>
            <a type="button" onclick="return confirm('Bạn có chắc muốn xóa không ?')" class="btn btn-danger">Xóa</a>
            <a [routerLink] ="'cau-hoi/' + q.Code" type="button" class="btn btn-infor">Chi Tiết</a>
          </td>
        </tr>
      </tbody>
  </table>
</div>
